
.products{
  padding:80px 5%;
  background:#c9c1b4;
  text-align:center;
}

.products h2{
  color:white;
  margin-bottom:50px;
  font-size:3rem;
}

.products-grid{
  display:grid;
  grid-template-columns:repeat(4,1fr);
  gap:25px;
}

.product-card{
  background:white;
  padding:20px;
  border-radius:15px;
}

.product-card img{
  width:120px;
  height:120px;
  border-radius:50%;
  object-fit:cover;
}

.product-card h3{
  margin:20px 0;
}

@media(max-width:992px){
.products-grid{
grid-template-columns:repeat(2,1fr);
}
}

@media(max-width:576px){
.products-grid{
grid-template-columns:1fr;
}
}